* {
  padding: 0;
  border: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Domine;
}

@font-face {
  font-family: Domine;
  src: url("../fonts/Domine-VariableFont_wght.ttf");
}

@font-face {
  font-family: HoltwoodOne;
  src: url("../fonts/HoltwoodOneSC-Regular.ttf")
}

body {
  background-color: white;
  margin: 5px 50px;
}

.grid-container-2 {
  display: grid;
  grid-template-columns: 1fr 2fr 4fr 1fr;
  grid-auto-rows: minmax(1fr, auto);
  grid-gap: 5px;
  min-height: 100vh;
  padding: 10px;
}

/* .grid-item {

} */

#grid-item-1 {
  grid-column: 1 / 5;
}

#grid-item-2 {
  grid-column: 1 / 3;
  grid-row: 2 / 4;
}

#grid-item-3 {
  grid-column: 3 / 5;
  grid-row: 2 / 4;
}

#grid-item-4 {
  grid-column: 1 / 5;
  grid-row: 4;
  padding: 25px 0;
  border-radius: 0;
  text-align: center; 
}

/** GRID ITEM 1 **/

.material-symbols-outlined {
  color: white;
}

.home_btn {
  color: white;
  background: crimson;
  padding: 10px;
  border-radius: 50%;
  margin-bottom: 5px;
  margin-left: -50px;
  transition: all .2s ease-in-out;
}

.home_btn:hover {
  transform: scale(1.1);
}

.hero-buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 5px;
  margin: 10px 10px;
}

.hero-button {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  cursor: pointer;
  transition: all .2s ease-in-out;
}

.hero-button:hover {
  transform: scale(1.05);
}

#gl-button {
  background-image: url("../images/greenlanternlogo01.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
#bm-button {
  background-image: url("../images/batmanlogo01.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
#sm-button {
  background-image: url("../images/supermanlogo02.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
#sz-button {
  background-image: url("../images/shazamlogo01.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
#bp-button {
  background-image: url("../images/blackpantherlogo01.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
#storm-button {
  background-image: url("../images/stormlogo01.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
#spm-button {
  background-image: url("../images/spidermanlogo01.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
#hulk-button {
  background-image: url("../images/hulklogo01.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
#goku-button {
  background-image: url("../images/gokulogo01.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
#opm-button {
  background-image: url("../images/opmlogo01.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
#sk-button {
  background-image: url("../images/shinralogo01.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
#gtk-button {
  background-image: url("../images/gotenkslogo01.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

/** GRID ITEM 2 **/

/* .hero-pic {
  
} */

.hero-pic img {
  min-height: 100vh;
  width: 100%;
  border-radius: 2%;
  object-fit: cover;
  position: relative;
}

/** GRID ITEM 3 **/

.hero-info, .hero-quiz {
  font-size: 20px;
  line-height: 1.5;
}

.hero-info h2 {
  margin: 10px;
  font-size: 45px;
  font-family: HoltwoodOne;
  letter-spacing: 2px;
}

.hero-info p {
  margin: 0 0 10px 10px;
  font-size: 20px;
}

.hero-quiz h2 {
  margin: 10px;
  font-size: 45px;
  font-family: HoltwoodOne;
  letter-spacing: 2px;
}

.hero-quiz p {
  margin: 0 0 10px 10px;
  font-size: 20px; 
}

img {
  display: flex;
  width: 350px;
  height: 350px;
  border-radius: 50%;
  margin-top: 15px;
}

#quiz-button, #submit-answers {
  width: 100px;
  height: 50px;
  margin: 15px 0 10px 10px;
  border: 2px black solid;
  border-radius: 12%;
  background-color: white;
  cursor: pointer;
  text-align: center;
  transition: all .2s ease-in-out;
}

#quiz-button:hover, #submit-answers:hover {
  transform: scale(1.05);
}

form {
  background-color: darkgray;
  height: auto;
  padding: 25px;
  margin: 0 0 0 10px;
  max-height: 780px;
  max-width: 850px;
  overflow-x: auto;
  overflow-y: scroll;
  border-radius: 1%;
}

form p {
  padding: 10px 5px;
}

.hide {
  display: none;
}

/** GRID ITEM 4 **/

#grid-item-4 a {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
  padding: 5px;
}

/** SPECIAL STYLES **/

a:link {
  color: black;
  text-decoration: none;
  font-weight: bold;
  transition: all .2s ease-in-out;
}

a:visited {
  color: black;
  text-decoration: none;
}

a:hover {
  color: black;
  text-decoration: none;
  transform: scale(1.05);
}

a:active {
  color: black;
  text-decoration: none;
}

input[type="radio"] {
  cursor: pointer;
  transform: scale(2);
  margin-right: 15px;
}

/** MOBILE MENU **/

label {
  display: none;
  margin-bottom: 25px;
}

#check {
  z-index: 3;
  display: none;
}

.menu_btn, .menu_close {
  color: white;
  background: crimson;
  padding: 5px;
  border-radius: 5px;
  margin-bottom: 5px;
}

/** MEDIA QUERIES **/

@media (max-width: 960px) {
  
  body {
    background-color: white;
    margin: 0;
  }
  
  .home_btn {
    color: white;
    background-color: crimson;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 5px;
    margin-left: .75px;
  }
  
  .hero-buttons {
    display: none;
  }
  
  .hero-button {
    width: 65px;
    height: 65px;
    border-radius: 50%;
    cursor: pointer;
    margin: 5px;
  }
  
  label {
    display: block;
    font-size: 25px;
    cursor: pointer;
    transition: 0.2s;
    transition-property: color;
  }
  
  label:hover {
    color: white;
  }
  
  label .menu_close {
    display: none;
  }
  
  #check:checked ~ .hero-buttons {
    z-index: 2;
    position: relative;
    background: rgba(0, 0, 60, 0.1);;
    border-radius: 10px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  
  #check:checked ~ .nav_list {
    font-weight: 700px;
    margin-right: 0;
    margin-bottom: 50px;
    letter-spacing: 2px;
  }
  
  #check:checked ~ label .menu_btn {
    display: none;
  }
  
  #check:checked ~ label .menu_close {
    z-index: 2;
    display: block;
    position: absolute;
  }
  
  label .menu_btn {
    position: absolute;
  }  
  

  #grid-item-1 {
    grid-column: 1 / 5;
  }

  #grid-item-2 {
    grid-column: 1 / 4;
    grid-row: 2;
  }

  #grid-item-3 {
    grid-column: 1 / 4;
    grid-row: 3;
  }

  #grid-item-4 {
    grid-column: 1 / 4;
    grid-row: 4;
    padding: 25px 0;
    border-radius: 0;
    text-align: center; 
  }
  
  .hero-info h2 {
    margin: 10px;
    font-size: 30px;
    font-family: HoltwoodOne;
    letter-spacing: 2px;
    text-align: center;
  }

  .hero-info p {
    margin: 0 0 10px 10px;
    font-size: 16px;
    text-align: center;
  }
  
  .hero-quiz h2 {
    margin: 10px;
    font-size: 30px;
    font-family: HoltwoodOne;
    letter-spacing: 2px;
    text-align: center;
  }

  .hero-quiz p {
    margin: 0 0 10px 10px;
    font-size: 16px; 
  }
  
  .hero-pic img {
    min-height: 80vh;
    max-width: 100%;
    border-radius: 2%;
    object-fit: cover;
    position: relative;
  }

  #result {
    text-align: center;
  }
  
  #grid-item-3 {
    text-align: center;
  }
}